<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AzureStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=rovtest;AccountKey=IXy5SHco+Hcyu0NW/YqedwX2bkNvxaydm78vHXKxjmy7WDzI1GEFCvL5cgjbJia1jzXPQf4BFjwLtyHxQ3TH7g==" />
  </connectionStrings>
  <appSettings>
    <add key="sourcefolder" value="C:\temp\azureBlobs"/>
    <add key="destinationcontainer" value="demoblobs"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>